@use 'src/styles/shared';

.input {
	display: block;
	max-width: 336px;
	width: 100%;
	height: 40px;
	background: shared.$def-background-color
		url('./../../assets/img/search-icon.svg') 16px 50% / 16px no-repeat;
	color: shared.$primary-color;
	border-radius: 0;
	border: unset;
	padding: 8px 0 8px 48px;
	@include shared.standard-font();
	@include shared.p-size-height;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
input.input:-internal-autofill-selected {
	background-color: shared.$def-background-color !important;
	color: shared.$primary-color !important;
}
